
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    padding: 0rem 1rem  ;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}



