.dashboard__item{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    width:8em;
    height:8em;
    margin-top: 10em;
    border-radius:1em;
    background-color: white;    
}

.dashboard__item h1{
    text-align: center;
}